
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    var lista = ViewBag.Lista;
    ViewBag.Title = "Gerenciamento de " + ViewBag.Title;
    var titulo = ViewBag.Title;
}

@RenderSection("Styles", true)
@RenderBody()


<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">
        <div id="cabecalho_grid" class="row">
            <div class="form-row">
                <div class="mb-2">
                    <a id="btn_incluir" style="color: white" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i> Incluir</a>
                </div>
                <div class="mb-2 col-md-'">
                    @Html.DropDownList("ddl_tam_pag", (SelectList)ViewBag.ListaTamPag, new { @class = "form-control" })

                </div>
                <div class="mb-2 col">
                    @Html.TextBox("txt_filtro", null, new { @class = "form-control col-10", @size = "80" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover table-sm  @Html.Raw(lista != null && lista.Count > 0 ? "" : "invisivel")">
                    <thead>
                        <tr>
                            @RenderSection("TituloGrid", true)
                        </tr>
                    </thead>
                    <tbody>
                        @RenderSection("LinhaGrid", true)
                    </tbody>
                </table>
                <div id="mensagem_grid" class="alert alert-danger  @Html.Raw(lista != null && lista.Count > 0 ? "invisivel" : "")">
                    <h1>Nenhum registro em @titulo</h1>

                </div>
            </div>
        </div>

        @if (ViewBag.QuantPaginas > 1)
        {
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">

                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            @for (int i = 2; i <= ViewBag.QuantPaginas; i++)
                            {
                                <li class="page-item"><a class="page-link" href="#">@i</a></li>
                            }


                        </ul>
                    </nav>

                </div>
            </div>
        }
    </section>
</div>
@Html.Hidden("id_cadastro")
<div id="modal_cadastro" class="invisivel" role="dialog">
    <div id="msg_mensagem_aviso" class="text-dark invisivel"></div>
    <fieldset>
        @Html.AntiForgeryToken()
        @RenderSection("CamposCadastro", true)

        <div class="modal-footer">
            <a id="btn_sair" class="btn btn-danger" style="color: white" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Sair</a>
            <a id="btn_confirmar" class="btn btn-success" style="color: white" role="button"><i class="glyphicon glyphicon-ok"></i> Salvar</a>
        </div>
        <br />
        <div id="msg_aviso" class="alert alert-warning invisivel">Falta preencher os campos acima.</div>
        <div id="msg_erro" class="alert alert-danger invisivel"></div>

    </fieldset>
</div>
@section Scripts{
    @RenderSection("Scripts", true)
    <script src="~/Scripts/Cadastro/CadBase.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>


}