<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Controle de Estoque</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container ">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Controle de Estoque</a>
            </nav>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>





            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                @if (Request.IsAuthenticated)
                {
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown ml-4">
                            <a class="nav-link dropdown-toggle lead" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cadastros
                            </a>
                            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                <p class="dropdown-item">@Html.ActionLink("Grupos de Produtos", "GrupoProduto", "Cadastro")</p>
                                <p class="dropdown-item">@Html.ActionLink("Marcas de Produtos", "MarcaProduto", "Cadastro")</p>
                                <p class="dropdown-item">@Html.ActionLink("Locais de Armazenamento", "LocalProduto", "Cadastro")</p>
                                <p class="dropdown-item">@Html.ActionLink("Unidades de Medida", "UnidadeMedida", "Cadastro")</p>
                                <p class="dropdown-item">@Html.ActionLink("Produtos", "Produto", "Cadastro")</p>
                                <p class="dropdown-divider"></p>
                                <p class="dropdown-item">@Html.ActionLink("Países", "Pais", "Cadastro")</p>
                                <p class="dropdown-item">@Html.ActionLink("Estados", "Estado", "Cadastro") </p>
                                <p class="dropdown-item">@Html.ActionLink("Cidades", "Cidade", "Cadastro") </p>
                                <p class="dropdown-item">@Html.ActionLink("Fornecedores", "Fornecedor", "Cadastro") </p>
                                <p class="dropdown-divider"></p>
                                <p class="dropdown-item">@Html.ActionLink("Perfis de Usuários", "PerfilUsuario", "Cadastro") </p>
                                <p class="dropdown-item">@Html.ActionLink("Usuários", "Usuario", "Cadastro") </p>


                            </div>
                        </li>

                        <li class="nav-item dropdown ml-4">
                            <a class="nav-link dropdown-toggle lead" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Operações
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <p class="dropdown-item">@Html.ActionLink("Entrada de Produtos", "EntradaEstoque", "Operacao")</p>
                                <p class="dropdown-item">@Html.ActionLink("Saída de Produtos", "SaidaEstoque", "Operacao")</p>
                                <p class="dropdown-item">@Html.ActionLink("Lançamento de Perdas de Produtos", "LancPerdaProduto", "Operacao")</p>
                                <p class="dropdown-item">@Html.ActionLink("Inventário de Estoque", "Inventario", "Operacao")</p>



                            </div>

                        </li>
                        <li class="nav-item dropdown ml-4">
                            <a class="nav-link dropdown-toggle lead" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Relatórios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <p class="dropdown-item">@Html.ActionLink("Posição do Estoque", "PosicaoEstoque", "Relatorio")</p>
                                <p class="dropdown-item">@Html.ActionLink("Ressuprimento", "Ressuprimento", "Relatorio")</p>

                            </div>
                        </li>
                        <li class="nav-item dropdown ml-4">
                            <a class="nav-link dropdown-toggle lead" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gráficos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <p class="dropdown-item">@Html.ActionLink("Perda por mês", "PerdaMes", "Grafico")</p>
                                <p class="dropdown-item">@Html.ActionLink("Entradas vs Saídas por mês", "EntradaSaidaMesa", "Grafico")</p>

                            </div>
                        </li>
                        <li class="nav-item ml-4 lead hr">
                            

                        </li>
                        
                        <li class="nav-item ml-4 lead">
                            <a class="nav-link" href="@Url.Action("Sobre", "Home")" role="button" aria-haspopup="true" aria-expanded="false">
                                Sobre
                            </a>

                        </li>
                        <li class="nav-item ml-4 lead ">
                            <p class="nav-link" style="text-transform:uppercase"><strong> @User.Identity.Name</strong></p>

                        </li>
                        @using (Html.BeginForm("LogOff", "Conta", FormMethod.Post, new { id = "logoffForm" }))
                        {

                            <li class="nav-item ml-4 my-2 my-lg-0 ">
                                <p><a class="nav-link my-2 my-sm-0 lead" href="javascript:document.getElementById('logoffForm').submit()">Sair</a></p>

                            </li>






                        }



                    </ul>

                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item ml-5">
                            <a class="nav-link" href="@Url.Action("Login", "Conta")" role="button" aria-haspopup="true" aria-expanded="false">
                                Login
                            </a>

                        </li>
                    </ul>
                }
            </div>



        </div>
    </nav>

    <br /><br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Controle de Estoque / Leonardo Oliveira</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
