
@model List<ControleEstoque.Web.Models.GrupoProdutoModel>

@{
    ViewBag.Title = "Cadastro de Grupo de Produtos";
}
<style>
    #cadastro {
        width: 90%;
        margin: 0 auto;
    }

    #cadastro_cabecalho {
        border-bottom: 1px #dddddd solid;
    }

    #cadastro_conteudo {
        margin-top: 20px;
    }

    #cabecalho_grid {
        margin-bottom: 20px;
        margin-left: 1px;
    }
</style>
<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">
        <div id="cabecalho_grid" class="row">
            <div class="col-md-12">
                <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i> Incluir</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ativo</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.Id">
                                <td>@item.Nome</td>
                                <td>@{var ativo = (item.Ativo ? "Sim" : "Não");}@ativo</td>
                                <td>
                                    <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                                    <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                                </td>
                            </tr>
                                    }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
@Html.Hidden("id_cadastro")
<div id="modal_cadastro" class="form-horizontal invisivel" role="dialog">
    <div id="msg_mensagem_aviso" class="text-dark invisivel"></div>
    <fieldset>
        @Html.AntiForgeryToken()
        
            <div class="form-group row">
                @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
                <div class="col-sm-10">
                    @Html.TextBox("txt_nome", null, new { @class = "form-control" })
                    <small id="caixa-texto" class="form-text text-muted"></small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-auto my-1">
                    <div class="custom-control custom-checkbox mb-3 ">
                        @Html.CheckBox("cbx_ativo", new { @class = "custom-control-input " })
                        @Html.Label("cbx_ativo", "Ativo", new { @class = " mb-2 custom-control-label" })
                        <small id="caixa" class="form-text text-muted"></small>

                    </div>
                </div>
            </div>
        
 
                    <div class="modal-footer">
                        <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Sair</a>
                        <a id="btn_confirmar" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-ok"></i> Salvar</a>
                    </div>
        <br />
                    <div id="msg_aviso" class="alert alert-warning invisivel">Falta preencher os campos acima.</div>
                    <div id="msg_erro" class="alert alert-danger invisivel">Ops, Deu ruim!</div>

    </fieldset>
</div>
@section Scripts{

<script>

    //anti_forgery_token
    function add_anti_forgery_token(data) {
        data.__RequestVerificationToken = $('[name=__RequestVerificationToken]').val();
        return data;
    }


    function abrir_form(dados) {
        $('#id_cadastro').val(dados.Id);
        $('#txt_nome').val(dados.Nome);
        $('#cbx_ativo').prop('checked', dados.Ativo);
        var modal_cadastro = $('#modal_cadastro');
        $('#msg_mensagem_aviso').empty();
        $('#msg_aviso').hide();
        $('#msg_mensagem_aviso').hide();
        $('#msg_erro').hide();
        bootbox.dialog({
            title: '@ViewBag.Title',
            message: modal_cadastro
        })
        .on('shown.bs.modal', function () {
            modal_cadastro.show(0, function () {
                $('#txt_nome').focus();
            });
        })
        .on('hidden.bs.modal', function () {
            modal_cadastro.hide().appendTo('body');
        });
    }
    function criar_linha_grid(dados) {
        var ret =
            '<tr data-id=' + dados.Id + '>' +
            '<td>' + dados.Nome + '</td>' +
            '<td>' + (dados.Ativo ? 'Sim' : 'Não') + '</td>' +
            '<td>' +
            '<a class="btn btn-primary btn-alterar" role="button" style="margin-right: 3px"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>' +
            '<a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>' +
            '</td>' +
            '</tr>';
        return ret;
    }
    $(document).on('click', '#btn_incluir', function () {
        abrir_form({ Id: 0, Nome: '', Ativo: true });
    })
    .on('click', '.btn-alterar', function () {
        var btn = $(this),
            id = btn.closest('tr').attr('data-id'),
            url = '@Url.Action("RecuperarGrupoProduto", "Cadastro")',
            param = { 'id': id };
        $.post(url, add_anti_forgery_token(param), function (response) {
            if (response) {
                abrir_form(response);
            }
        });
    })
    .on('click', '.btn-excluir', function () {
        var btn = $(this),
            tr = btn.closest('tr'),
            id = tr.attr('data-id'),
            url = '@Url.Action("ExcluirGrupoProduto", "Cadastro")',
            param = { 'id': id };
        bootbox.confirm({
            message: "Realmente deseja excluir o grupo de produto?",
            buttons: {
                confirm: {
                    label: 'Sim',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Não',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.post(url, add_anti_forgery_token(param), function (response) {
                        if (response) {
                            tr.remove();
                        }
                    });
                }
            }
        });
    })
    .on('click', '#btn_confirmar', function () {
        var btn = $(this),
            url = '@Url.Action("SalvarGrupoProduto", "Cadastro")',
            param = {
                Id: $('#id_cadastro').val(),
                Nome: $('#txt_nome').val(),
                Ativo: $('#cbx_ativo').prop('checked')
            };
        $.post(url, add_anti_forgery_token(param), function (response) {
            if (response.Resultado == "OK") {
                if (param.Id == 0) {
                    param.Id = response.IdSalvo;
                    var table = $('#grid_cadastro').find('tbody'),
                        linha = criar_linha_grid(param);
                    table.append(linha);
                }
                else {
                    var linha = $('#grid_cadastro').find('tr[data-id=' + param.Id + ']').find('td');
                    linha
                        .eq(0).html(param.Nome).end()
                        .eq(1).html(param.Ativo ? 'Sim' : 'Não');
                }
                $('#modal_cadastro').parents('.bootbox').modal('hide');
            }
            else if (response.Resultado == "ERRO") {
                $('#msg_aviso').hide();
                $('#msg_mensagem_aviso').hide();
                $('#msg_erro').show();
            }
            else if (response.Resultado == "AVISO") {
                $('#msg_mensagem_aviso').html(formatar_mensagem_aviso(response.Mensagens));
                $('#msg_aviso').show();
                $('#msg_mensagem_aviso').show();
                $('#msg_erro').hide();
            }
        });
    });
    function formatar_mensagem_aviso(mensagens) {
        var ret = '';
        for (var i = 0; i < mensagens.length; i++) {
            ret += '<li>' + mensagens[i] + '</li>';
        }
        return '<ul>' + ret + '</ul>';
    }


    //Função responsável por validações visuais
    function validationForms() {

        //Validação checkbox
        $("input[name=cbx_ativo]").change(function () {
            // verifica se foi selecionado
            if ($(this).is(':checked')) {
                var caixaTexto = $("#caixa").text();
                var result = (caixaTexto.length == 0);
                if (result == false) {
                    $('#caixa').empty();
                    $("#caixa").append("O grupo de produtos está ativo!");
                } else {
                    $("#caixa").append("O grupo de produtos está ativo!");
                }
            } else {
                var caixaTexto = $("#caixa").text();
                var result = (caixaTexto.length == 0);
                if (result == false) {
                    $('#caixa').empty();
                    $("#caixa").append("O grupo de produtos não está ativo!");
                } else {
                    $("#caixa").append("O grupo de produtos não está ativo!");
                }
            };
        });

        //Validação Input Nome
        $("input[name=txt_nome]").blur(function () {

            var text_name = $("#txt_nome").val();
            if (text_name.length < 3) {
                $("#txt_nome").addClass("form-control is-invalid");
                $('#caixa-texto').empty();
                $("#caixa-texto").append("O nome do grupo de produtos deve possuir no mínimo 3 caracteres!");
            } else {
                var nomeClasse = $("#txt_nome").hasClass();
                console.log(nomeClasse);
                $("#txt_nome").removeClass("form-control is-invalid").addClass("form-control is-valid");
                $('#caixa-texto').empty();
            }
        });
    }


</script>



}