
@model List<ControleEstoque.Web.Models.PaisModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Países";
    ViewBag.Lista = Model;
    ViewBag.Lista = Model;
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/Pais.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>Nome</th>
    <th>Sigla</th>
    <th>Bacen</th>
    <th>Ativo</th>
    <th>Ação</th>
}

@section LinhaGrid {
    @{
        var linha = 0;
        foreach (var item in Model)
        {
            linha++;
            if (linha <= ViewBag.QuantMaxLinhasPorPagina)
            {
                var ativo = (item.Ativo ? "Sim" : "Não");

                <tr data-id="@item.Id">
                    <td>@item.Nome</td>
                    <td>@item.Sigla</td>
                    <td>@item.Bacen</td>
                    <td>@ativo</td>
                    <td>
                        <a class="btn btn-primary btn-alterar" style="color: white" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                        <a class="btn btn-danger btn-excluir" style="color: white" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                    </td>
                </tr>
            }
            else
            {
                break;
            }
        }
    }
}

@section CamposCadastro {
    <div class="row">
        <div class="form-group">
            @Html.Label("txt_nome", "Nome", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBox("txt_nome", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_nome_pt", "NomePt", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBox("txt_nome_pt", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_sigla", "Sigla", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBox("txt_sigla", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_bacen", "Bacen", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBox("txt_bacen", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("cbx_ativo", "Ativo", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.CheckBox("cbx_ativo")
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var titulo_pagina = '@ViewBag.Title';
        var url_exclusao = '@Url.Action("ExcluirPais", "CadPais")';
        var url_confirmar = '@Url.Action("SalvarPais", "CadPais")';
        var url_page_click = '@Url.Action("PaisPagina", "CadPais")';
        var url_alterar = '@Url.Action("RecuperarPais", "CadPais")';
        var url_ddl_tam_pag = '@Url.Action("PaisPagina", "CadPais")';
        var url_filtro_change = '@Url.Action("PaisPagina", "CadPais")';


    </script>
    <script src="~/Scripts/Cadastro/Pais.js"></script>
} 