@using System.Globalization;
@model List<ControleEstoque.Web.Models.LocalArmazenamento>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Locais de Armazenamento";
    ViewBag.Lista = Model;
}
@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/LocalArmazenamento.css" rel="stylesheet" />
    <link href="~/Content/inventory-analytics.min.css" rel="stylesheet" />
}

@section TituloGrid {
    <th style="width: 150px;">Nome</th>
    <th style="width: 50px;">Ativo</th>
    <th>Uso</th>
    <th style="width: 150px;">Ação</th>
}
@section LinhaGrid {
    @{

        var linha = 0;
        foreach (var item in Model)
        {
            linha++;
            if (linha <= ViewBag.QuantMaxLinhasPorPagina)
            {
                var ativo = (item.Ativo ? "Sim" : "Não");
                double cemPorcento = @item.CapacidadeTotal;
                decimal xAtualPorcento = (decimal)((decimal)(100 * @item.CapacidadeAtual) / (decimal)@item.CapacidadeTotal);
                var xAtualPorcentoUS = xAtualPorcento.ToString("N", CultureInfo.CreateSpecificCulture("en-US"));


                <tr data-id="@item.Id">
                    <td>@item.Nome</td>
                    <td>@ativo</td>
                    <td>
                        <div class="row no-gutters align-items-center"> 
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@xAtualPorcentoUS%</div>
                            </div>
                            <div class="col">
                                @if (xAtualPorcento < 100)
                                {
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: @xAtualPorcentoUS%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: @xAtualPorcentoUS%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                }
                            </div>
                        </div>


                    </td>
                    <td>
                        <a class="btn btn-primary btn-alterar btn-sm" style="color: white" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                        <a class="btn btn-danger btn-excluir btn-sm" style="color: white" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                    </td>
                </tr>
            }
            else
            {
                break;
            }
        }
    }
}
@section CamposCadastro {

    <div class="form-group">
        @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
        <div class="col-md-12">
            @Html.TextBox("txt_nome", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("txt_capacidade_total", "Capacidade Total", new { @class = "col-md-3 control-label" })
        <div class="col-md-12">
            @Html.TextBox("txt_capacidade_total", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("txt_capacidade_atual", "Capacidade Atual", new { @class = "col-md-3 control-label" })
        <div class="col-md-12">
            @Html.TextBox("txt_capacidade_atual", null, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group ml-3 pt-2">
        <div class="custom-control custom-checkbox mb-3 ">
            @Html.CheckBox("cbx_ativo", new { @class = "custom-control-input " })
            @Html.Label("cbx_ativo", "Ativo", new { @class = " mb-2 custom-control-label" })
            <small id="caixa" class="form-text text-muted"></small>
        </div>
    </div>


}
@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>


        var titulo_pagina = '@ViewBag.Title';
        var url_exclusao = '@Url.Action("ExcluirLocalArmazenamento", "CadLocalArmazenamento")';
        var url_confirmar = '@Url.Action("SalvarLocalArmazenamento", "CadLocalArmazenamento")';
        var url_page_click = '@Url.Action("LocalArmazenamentoPagina", "CadLocalArmazenamento")';
        var url_alterar = '@Url.Action("RecuperarLocalArmazenamento", "CadLocalArmazenamento")';
        var url_ddl_tam_pag = '@Url.Action("LocalArmazenamentoPagina", "CadLocalArmazenamento")';
        var url_filtro_change = '@Url.Action("LocalArmazenamentoPagina", "CadLocalArmazenamento")';


    </script>
    <script src="~/Scripts/Cadastro/LocalArmazenamento.js"></script>
} 