@model List<ControleEstoque.Web.Models.Log>
@{
    ViewBag.Title = "Logs";
}

<div class="container">
    <a class="btn btn-outline-secondary"alt="_black" href="https://docs.google.com/spreadsheets/d/1GpvsT6-nEdueW-uFnWI6h7Gt38Bh4fjbcrVaDkqnUWs/edit?usp=sharing">Ver Planilha</a>
    <br />
    <br />
    @if (Model!=null)
    {
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Operação</th>
                    <th scope="col">IP</th>
                    <th scope="col">MAC Address</th>
                    <th scope="col">Criticidade</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <th scope="row">@item.DataOperacao</th>
                        <td>@item.Uuario</td>
                        <td>@item.Operacao</td>
                        <td>@item.Ip</td>
                        <td>@item.MacAddress</td>
                        <td>@item.Criticidade</td>

                    </tr>

                </tbody>
            }
        </table>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Não existe nenhum LOG no sistema.
        </div>
    }
</div>
